@page
@model QuizWebApplication.Pages.QuizPages.QuizSelectModel
@{
    ViewData["Title"] = "Quiz selection";
}

@if (Model.UserQuizzes.Count > 0)
{

    <h1>Quizzes for @Model.Session.Username</h1>

    @if (Model.InfoList.Count > 0)
    {
        <div class="text-info">
            @foreach (var info in Model.InfoList)
            {
                @info <br />
            }
        </div>
    }

    @if (Model.ErrorList.Count > 0)
    {
        <div class="text-danger">
            @foreach (var error in Model.ErrorList)
            {
                @error <br />
            }
        </div>
    }

    <div class="list-group">
        @foreach (var quiz in Model.UserQuizzes)
        {
            <div class="list-group-item list-group-item-action bg-dark">
                <div class="d-flex w-100 justify-content-center">
                    <h4 class="text-light">@quiz.QuizName</h4>
                </div>
                <div class="btn-group d-flex w-100 justify-content-between" role="group" aria-label="Basic example">
                    <a class="btn btn-primary mr-2" asp-page="/QuizPages/PlayQuiz" asp-route-quizId="@quiz.Id">Start Quiz</a>
                    <a class="btn btn-primary mr-2" asp-page="/QuizPages/QuizEditor" asp-route-quizId="@quiz.Id">Edit Quiz</a>
                    @Html.ActionLink(
                       "Delete Quiz",
                       "/QuizPages/QuizSelect",
                       new { delete = "Y", quizId = quiz.Id },
                       new { @class = "btn btn-primary" })
                </div>
            </div>
            <br />
        }
    </div>
}
else
{
    <h1>@Model.Session.Username</h1>
    <br />
    <span class="text-light">No quizzes created yet...</span>
}

<br />
<a asp-page="/QuizPages/QuizEditor">Create New Quiz</a>


